<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="coffee.demo.mapper.DrinktypeMapper" >
  <resultMap id="BaseResultMap" type="coffee.demo.pojo.Drinktype" >
    <id column="TYPE_ID" property="typeId" jdbcType="DECIMAL" />
    <result column="TYPENAME" property="typename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TYPE_ID, TYPENAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="coffee.demo.pojo.DrinktypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DRINKTYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from DRINKTYPE
    where TYPE_ID = #{typeId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from DRINKTYPE
    where TYPE_ID = #{typeId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="coffee.demo.pojo.DrinktypeExample" >
    delete from DRINKTYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="coffee.demo.pojo.Drinktype" >
    insert into DRINKTYPE (TYPE_ID, TYPENAME)
    values (#{typeId,jdbcType=DECIMAL}, #{typename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="coffee.demo.pojo.Drinktype" >
    insert into DRINKTYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="typename != null" >
        TYPENAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        #{typeId,jdbcType=DECIMAL},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="coffee.demo.pojo.DrinktypeExample" resultType="java.lang.Integer" >
    select count(*) from DRINKTYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DRINKTYPE
    <set >
      <if test="record.typeId != null" >
        TYPE_ID = #{record.typeId,jdbcType=DECIMAL},
      </if>
      <if test="record.typename != null" >
        TYPENAME = #{record.typename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DRINKTYPE
    set TYPE_ID = #{record.typeId,jdbcType=DECIMAL},
      TYPENAME = #{record.typename,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="coffee.demo.pojo.Drinktype" >
    update DRINKTYPE
    <set >
      <if test="typename != null" >
        TYPENAME = #{typename,jdbcType=VARCHAR},
      </if>
    </set>
    where TYPE_ID = #{typeId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="coffee.demo.pojo.Drinktype" >
    update DRINKTYPE
    set TYPENAME = #{typename,jdbcType=VARCHAR}
    where TYPE_ID = #{typeId,jdbcType=DECIMAL}
  </update>
</mapper>