/*
* @Author: 璋㈡煶濠�
* @Date:   2017-12-03 22:13:22
* @Last Modified by:   admin
* @Last Modified time: 2017-12-04 08:40:35
*/
*{
	margin:0px;
	padding:0px;
}
body{
    background:#f5eeec;  
}
.top{
	width: 100%;
	height:777px;
	padding-top:50px;
}
.top .wenzi{
	width: 1200px;
	height:70px;
	margin:0 auto;
}
.top .wenzi h3{
	font-size: 38px;
	color:#35978f;
	line-height: 28px;
	display: block;
	float:left;
	padding: 10px;
}
.top .wenzi span{
	display:block;
	float:left;
	color:#35978f;
	font-size:16px;
	position: relative;
	bottom:0px;
	padding-top: 20px;
	padding-left: 20px;
}
.top .con{
	width: 1200px;
	height: 517px;
	margin:0 auto;
}
.top .left{
	float: left;
	width: auto;
	height: 517px; 
}

.top .right{
	float:right;
	width: 420px;
	height: 517px;
	background:#fff;
	border-radius: 8px;
}

.top .right h3{
	width:100px;
	height:31px;
	font-size:24px;
	color:#35978f;
	margin:20px auto;
}
.top .right form{
	width: 300px;
	height: 380px;
	display:block;
	margin:30px auto 10px;
}
.top .right form p{
	margin:0 auto;
	width: 170px;
	height: 20px;
	font-size:14px;
	color:red;
}
.top .right label{
	color:#35978f;
}

.top  .right input{
	width:160px;
	height: 23px;
	padding:5px;
	margin-bottom: 5px;
	outline: none;
	border:1px solid #c0c0c0;
}
.top  .right input:focus{
	border:1px solid #35978f;
}
.top  .right input.bt{
	width: 140px;
	height: 40px;
	font-size:18px;
	line-height:40px;
	margin:30px auto;
	display:block;
	background:#35978f;
	border:none;
	color:#fff;
	padding:0px;
	cursor:pointer;
}
.top .con .re{
	width:110px;
	height: 30px;
	float:right;
}
.top .con .re a{
	color:#35978f;
	text-decoration: none;
}
.top .con .re a:hover{
	text-decoration:underline;
}